################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug

.vs/Games/v16/

*.sln

*.vcxproj

*.filters

*.user

Build/CMakeCache.txt

Build/CMakeFiles/3.21.3/CMakeCCompiler.cmake

Build/CMakeFiles/3.21.3/CMakeCXXCompiler.cmake

Build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_C.bin

Build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_CXX.bin

Build/CMakeFiles/3.21.3/CMakeRCCompiler.cmake

Build/CMakeFiles/3.21.3/CMakeSystem.cmake

Build/CMakeFiles/3.21.3/CompilerIdC/CMakeCCompilerId.c

Build/CMakeFiles/3.21.3/CompilerIdC/CompilerIdC.exe

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CMakeCCompilerId.obj

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.exe.recipe

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

Build/CMakeFiles/3.21.3/CompilerIdCXX/CompilerIdCXX.exe

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog

Build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog

Build/CMakeFiles/3.21.3/VCTargetsPath.txt

Build/CMakeFiles/3.21.3/x64/Debug/VCTargetsPath.recipe

Build/CMakeFiles/3.21.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate

Build/CMakeFiles/cmake.check_cache

Build/CMakeFiles/CMakeOutput.log

CMakeLists.txt
