################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/Schoolwork/v16
/.vs/Schoolwork/v16
/.vs/Schoolwork/v16
/.vs/Schoolwork/v16/ipch/AutoPCH
/.vs/Schoolwork/v16
